<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/header.css}"
          href="../css/header.css" rel="stylesheet">
    <title>Title</title>
</head>
<header th:fragment="header">
    <nav>
        <a href="/">HOME</a>
        <ul>
            <li>Menu
                <ul>
                    <li><a href="/portfolio">PORTFOLIO</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
</html>