/* 메인 페이지의 헤더 네이게이션 */
#homeHead {
    position: fixed;
    background-color : #f1efe9;
    width : 100%;
    height : 6rem;
    font-size: 1.5rem;
    padding: 2.5rem 20rem;
    z-index : 10;
    box-shadow: 0 0 15px 20px #f1efe9;
    font-weight: 800;
}
#homeNav {
}
#homeLeftUl {
    float : left;
}
#homeRightUl {
    float : right;
}
#main {
    padding-right : 3rem;
}
.homeLi {
    display : inline;
    padding-right : 0.7rem;
}
/* 헤더 호버 애니메이션 */
.effect a {
    /**/
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
.effect a:hover {
    color : wheat;
    transition : 0.7s;
}


/* 스크롤 이벤트 관련 */
.wrap {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 1.3s;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex 로 정렬시키고 싶은 요소가 있으면 해당 요소의 부모 요소에 flex 걸기 */
}


/* 메인 페이지의 사이트 소개 부분 */
/* section id = "site" */
#site {
    background-color : #1b1d25;
    width : 100%;
    height : 100%;
    font-size: 1.5rem;
    /* 요소 중앙 배치 */
    display: flex;
    justify-content: center;
    align-items: center;
    color : wheat;
    font-weight: 510;
    background: linear-gradient(-35deg, #1b1d25, #464852, #56585D, #1b1d25);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
/* INTRO PAGE animation */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#siteDiv {
    text-align: center;
}
#myName {
    font-size : 6rem;
    letter-spacing: 0.3rem;
}
#webIntro {
    font-size: 2rem;
    letter-spacing: 0.7rem;
}


/* 메인 페이지의 내 소개 부분 */
/* section id = "me" */
#me {
    background-color : #464852;
    width : 100%;
    height : 100%;
    font-size: 1.5rem;
    /* 요소 중앙 배치 */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 메인 페이지의 기술 스택 소개 부분 */
/* section id = "tech" */
#tech {
    background-color : #56585D;
    width : 100%;
    height : 100%;
    font-size: 1.5rem;
    /* 요소 중앙 배치 */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 메인 페이지의 footer banner 부분 */
/* section id = "footer" */
#footer {
    background-color : #1b1d25;
    width : 100%;
    height : 100%;
    font-size: 1.5rem;
    /* 요소 중앙 배치 */
    display: flex;
    justify-content: center;
    align-items: center;
    color : wheat;
}




/* TEST */
/* 배경 */
.backSky {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: linear-gradient(to right, #111, #0e0f19);
  overflow: hidden;
}
/* 별을 감싼 부모 */
.sky {
  width: 100vw;
  height: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: moveStar 240s linear infinite;
}
/* 별 */
.sky .star {
  fill: #fff;
  stroke: none;
  stroke-width: 0;
}
/* 별 이동효과 */
@keyframes moveStar {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}