<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="../css/basic.css" rel="stylesheet">
    <link th:href="@{/css/header.css}"
          href="../css/header.css" rel="stylesheet">
    <title>LST's Portfolio</title>
</head>
<body>

<header th:replace="layout/header::header"></header>

    CONTACT ME PAGE

<div id="meDiv">
    <h4>ABOUT ME</h4>
    <li class="meLi">TEL : 010-7599-0093</li>
    <li class="meLi">MAIL : dltmdxo1589@daum.net</li>
    <li class="meLi">GITHUB : 전주대학교 컴퓨터공학과</li>
</div>

</body>
</html>